.msg_input_container {
  height: 6%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #dedede;
}

.input_field {
  height: 39px;
  width: 92%;
  padding: 1px 7px;
  border: none;
  color: #2bbfd9;
}

.input_field:focus {
  outline: none;
}

.input_field::placeholder {
  color: #98d1dd;
}

.send_btn {
  width: 8%;
  height: 46px;
  border-radius: 0;
}
