.member {
  color: white;
  width: 100%;
  background-color: #e4f3f6;
  min-height: 60px;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #797c7c;
  word-wrap: break-word;
  padding: 5px 3px;
  font-size: 20px;
}

.member:hover{
  background-color: #98d1dd;
}

.own {
  background-color: #2bbfd9;
  color: #fff;
}


.remove {
  color: #bd2130;
  margin-left: 10px;
  position: relative;
}

.remove:hover {
  cursor: pointer;
}

.remove .tooltiptext {
  visibility: hidden;
  width: auto;
  padding : 5px 10px;
  background-color: #bd2130;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size : 17px;
  position: absolute;
  z-index: 1;
  top: 141%;
  left: 195%;
  margin-left: -60px;
}

.remove .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #bd2130 transparent;
}

.remove:hover .tooltiptext {
  visibility: visible;
}

