.member {
  color: white;
  width: 100%;
  background-color: #e4f3f6;
  min-height: 60px;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #797c7c;
  word-wrap: break-word;
  padding: 5px 3px;
  font-size: 20px;
}

.member:hover{
  background-color: #98d1dd;
}

.own {
  background-color: #2bbfd9;
  color: #fff;
}


.remove {
  color: red;
  margin-left: 10px;
}

.remove:hover {
  cursor: pointer;
}
