.input_label {
  width: 140px;
  text-align: left;
  color: #2BBFD9;
  font-weight: bold;
}

.input_label:hover {
  cursor: pointer;
}

.input_field {
  width: 200px;
  border: none;
  border-bottom: 1px solid #2BBFD9;
  margin: 12px 0;
  color: #2BBFD9;
}

.input_field:focus {
  outline: none;
}
