.room {
  width: 100%;
  background-color: #E4F3F6;
  min-height: 65px;
  border-bottom: 1px solid #DEDEDE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #797C7C;
  word-wrap: break-word;
  padding : 5px 3px;
  font-size: 20px;
}

.room:hover {
  cursor: pointer;
  background-color: #98d1dd;
}

.current_room{
  background-color: #2BBFD9;  
  color : #FFF; 
}
