.message_container {
  margin: 8px 10px;
  text-align: left;
  display: flex;
}

.own {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.sender {
  color: grey;
  font-size: 12px;
  padding: 0;
  margin: 1px 0 2px 6px;
}

.text {
  color: white;
  align-self: flex-end;
  max-width: 550px;
  display: inline-block;
  background-color: #314f1a;
  min-height: 35px;
  border-radius: 10px;
  color: #dfffc1;
  word-wrap: break-word;
  padding: 5px 8px;
  margin: 0;
}

.text:hover{
  cursor: pointer;
}

.time {
  display: none;
  align-self: flex-end;
  color: grey;
  font-size: 12px;
  padding: 0;
  margin: 1px 6px 2px 6px;
}

.show{
  display: block;
}

.own_msg {
  background-color: #3d7d30;
}
