.message_container {
  margin: 8px 10px;
  text-align: left;
  display: flex;
}

.own {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.sender {
  color: grey;
  font-size: 12px;
  padding: 0;
  margin: 1px 0 2px 6px;
}

.text {
  align-self: flex-end;
  max-width: 40vw;
  display: inline-block;
  background-color: #E4F3F6;
  min-height: 35px;
  border-radius: 10px;
  color: #797C7C;
  word-wrap: break-word;
  padding: 5px 8px;
  margin: 0;
}

.text:hover{
  cursor: pointer;
  background-color: #98d1dd;
}

.time {
  display: none;
  align-self: flex-end;
  color: grey;
  font-size: 12px;
  padding: 0;
  margin: 1px 6px 2px 6px;
}

.show{
  display: block;
}

.own_msg {
  background-color: #2bbfd9;
  color: #fff;
}
